.dialog-container {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

h1 {
  font-size: 24px;
  color: #333;
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

mat-dialog-content p {
  font-size: 16px;
  color: #666;
  margin: 20px 0;
}

.close-button {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #c82333;
}
