<div class="container-fluid cart-container col-sm-10" xmlns="http://www.w3.org/1999/html" fxLayout="column">
  <h1 class="cart-item-title">Shopping Cart</h1>
  <p>{{cartItems.length}} courses in cart</p>

  <div class="cart-item-container" *ngIf="cartItems.length > 0">
    <div class="row" fxLayoutGap="15px">
      <div class=" col-sm-8 row cart-item-list-container">
        <mat-card fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center" *ngFor="let course of cartItems">
          <!-- Course Image -->
          <img mat-card-image class="course-image" [src]="course.courseImage.filePath" alt="Course image">

          <!-- Course Details -->
          <div fxLayout="column" fxFlex>
            <div fxFlex fxLayout="row" fxLayoutAlign="start center">
              <a [routerLink]="['/course-detail', course.id]" class="course-row"  fxFlex="72%">
                <mat-card-header>
                  <mat-card-title>{{course.name}}</mat-card-title>
                  <mat-card-subtitle>{{course.overview}}</mat-card-subtitle>
                </mat-card-header>
              </a>

              <div fxFlex fxLayout="column" fxLayoutAlign="start">
                <a class="remove-course" (click)="removeCartItem(course)">Remove</a>
                <a class="move-to-wishlist" *ngIf="auth.user" (click)="moveToWishlist(course)">Move to Wishlist</a>
              </div>

              <!-- Course Price -->
              <div class="course-price">
                <p>${{course.price}}</p>
              </div>
            </div>

            <mat-card-content>
              <p>{{userInfoMap.get(course.id)?.firstname}} {{userInfoMap.get(course.id)?.lastname}}</p>
              <p>{{course.rating}}<ngb-rating [max]="5" [(rate)]="course.rating" [readonly]="true"></ngb-rating></p>
              <p>{{course.level}}</p>
            </mat-card-content>
          </div>
          <mat-divider></mat-divider>
        </mat-card>
      </div>

      <div class="col-sm-2 column cart-item-checkout-container">
        <div class="cart-item-total-price">
          <h2 class="d-flex justify-content-between align-items-center mb-3">Subtotal:</h2>
          <h1 class="list-group-item d-flex justify-content-between">{{totalValue | currency: 'USD'}}</h1>
        </div>
        <div class="cart-item-checkout-button-container">
          <button mat-raised-button color="accent" class="cart-item-checkout-button" (click)="navigateToCheckout()">Checkout</button>
        </div>
      </div>

    </div>

  </div>

  <div class="cart-item-container col-sm-11" *ngIf="cartItems.length === 0">
    <app-no-courses-found [title]="messageTitle" [description]="messageDescription"></app-no-courses-found>
  </div>

</div>
