.container-fluid {
  margin-top: 30px;
  margin-left: 250px;
}
.cart-item-title {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Times New Roman";
}

.course-image {
  width: 220px; /* or any other size */
  height: 132px; /* or any other size */
  object-fit: cover; /* this will make sure the image covers the whole area without distortion */
}

mat-card-title {
  font-size: medium;
  font-weight: bold;
  color: black;
}

mat-card-subtitle {
  color: dimgray;
}


mat-card-content {
  color: gray;
}

.course-price {
  font-weight: bold !important;
  color: black !important;
  margin-right: 20px;
}

a {
  text-decoration: none !important;
}

.cart-item-checkout-button-container .cart-item-checkout-button {
  width: 250px;
  height: 60px;
  color: white;
  background-color: mediumpurple;
}


ngb-rating {
  color: #FFC107;
  font-size: 20px;
}
