<div class="reviews-container" fxLayout="column">
  <button mat-raised-button color="accent" (click)="openReviewDialog()">Leave a rating</button>
  <h2 class="review-title">Student feedback</h2>
  <div *ngFor="let percent of percentages; let i = index" (click)="selectLevel(5 - i)" class="student-feedback">
    <div class="level-container">
      <div class="stars">
      <span *ngFor="let star of [].constructor(5); let j = index"
            [class.active]="j < 5 - i"
            class="star">&#9733;</span> <!-- Star symbol -->
      </div>
      <div class="percentage-container">
        <div class="percentage-bar" [style.width]="percent + '%'"></div>
      </div>
      <div class="percentage-text">{{ percent.toFixed(2) }}%</div>
      <button *ngIf="selectedLevel === 5 - i" class="cancel-button" (click)="clearSelection(); $event.stopPropagation()">x</button>
    </div>
  </div>

  <h2 class="review-title">Reviews</h2>
  <div *ngFor="let review of filteredReviews" class="reviews">
    <div class="review" fxLayout="row" fxLayoutAlign="start center">
      <div class="user-profile-image" *ngIf="userInfosMap.get(review.id)?.firstname && userInfosMap.get(review.id)?.lastname">
        <app-profile-image [firstname]="userInfosMap.get(review.id)?.firstname ?? ''"
                           [lastname]="userInfosMap.get(review.id)?.lastname ?? ''"
                           [imageUrl]="userInfosMap.get(review.id)?.profileImage?.filePath ?? null"
                           [size]="50"
                           [fontSize]="20">
        </app-profile-image>

      </div>

      <div class="review-content" fxLayout="column">
        <div class="rating">
          <span *ngFor="let star of [].constructor(5); let j = index" [class.active]="j < review.rating" class="star">&#9733;</span> <!-- Star symbol -->
          <span> {{timeAgo(review.createTime)}}</span>
        </div>

        <div class="user-info">
          {{ userInfosMap.get(review.id)?.firstname }} {{ userInfosMap.get(review.id)?.lastname }}
        </div>
        <div class="content">
          {{ review.content }}
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>

</div>


