

<div class="col-sm-11 instructor-performance-container">
  <h1 class="instructor-performance-title">Insights and reporting</h1>
  <!-- Striking Style for Numbers -->
  <div class="numbers-container" fxLayout="column">

    <h2 class="sub-title">User activity</h2>

    <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill>

      <!-- Active Courses -->
      <div *ngIf="activeCourses" class="number-item">
        <span class="number">{{ activeCourses }} </span>
        <label> Active Courses</label>
      </div>

      <!-- Enrollments -->
      <div *ngIf="enrollmentCount" class="number-item">
        <span class="number">{{ enrollmentCount }} </span>
        <label> Enrollments</label>
      </div>

      <!-- Average Progress -->
      <div *ngIf="enrollmentCount; else noAverageProgress" class="number-item">
        <span class="number">{{ averageProgress.toFixed(2) }} </span>
        <label> Average Progress (%)</label>
      </div>
      <ng-template #noAverageProgress>
        <div class="number-item">
          <span class="number">- </span>
          <label> Average Progress (%)</label>
        </div>
      </ng-template>

      <!-- Average Rating -->
      <div *ngIf="reviews.length; else noAverageRating" class="number-item">
        <span class="number">{{ averageRating.toFixed(2) }} </span>
        <label> Average Rating</label>
      </div>
      <ng-template #noAverageRating>
        <div class="number-item">
          <span class="number">- </span>
          <label> Average Rating</label>
        </div>
      </ng-template>

    </div>
  </div>



  <div fxLayout="row">
    <div class="review-chart-container" fxLayout="column">
      <h2 class="sub-title">Ratings for your courses</h2>

      <!-- Pie Chart for Ratings -->
      <div class="review-chart-item" style="display: block;">
        <canvas baseChart
                [data]="pieChartData"
                [type]="pieChartType"
                [options]="pieChartOptions">
        </canvas>
      </div>

    </div>


    <div class="revenue-chart-container"  fxLayout="column">
      <h2 class="sub-title">Gross revenue trend</h2>
      <!-- Line Chart for Gross Revenue -->
      <div class="revenue-chart-item">
        <canvas baseChart
                [data]="lineChartData"
                [type]="lineChartType"
                [options]="lineChartOptions">
        </canvas>
      </div>
    </div>

  </div>


</div>














