ngb-rating {
  color: #FFC107;
  font-size: 20px;
}


.course-image {
  width: 250px;
  height: auto;
  display: block;
}


mat-card {
  width: 250px;
  margin-top: 15px;
}

.mat-card-header {
  width: 100%;
  text-align: left;
}

.course-title {
  width: 250px;
  word-wrap: break-word;
  white-space: normal; /* Allow text to wrap */
  font-size: medium;
}


.mat-card-content {
  width: 320px;
  text-align: left;
}


a{
  color: black !important;
  text-decoration: none !important;
}


.content-container {
  margin:0;
  padding: 0;
}
