
<a *ngIf="course" [routerLink]="['/course-detail', course.id]">

  <mat-card fxLayout="column" fxFlex fxLayoutGap="5px" fxLayoutAlign="start center">
    <!-- Course Image -->
    <img mat-card-image class="course-image" [src]="course.courseImage.filePath" alt="Course image">

    <!-- Course Details -->
    <mat-card-header>
      <mat-card-title class="course-title">{{course.name}}</mat-card-title>
    </mat-card-header>


    <mat-card-content fxLayout="column">
      <div class="content-container">
        <p>{{instructor ? instructor.firstname + ' '  + instructor.lastname : ''}}</p>
        <p>{{course.rating}}<ngb-rating [max]="5" [(rate)]="course.rating" [readonly]="true"></ngb-rating> </p>
        <p>{{getTotalCourseDuration(course)}} total hours · {{getTotalLectures(course)}} lectures</p>
        <p>${{course.price}}</p>
      </div>
    </mat-card-content>
  </mat-card>
</a>
