
<div class="col-sm-8 page-container">
  <h2 class="courses-title">{{ courseTitle }}</h2>
  <hr>
  <div class="courses-container">
    <div fxLayout="row">
      <!-- Course Filter column -->
      <div fxFlex="25%" class="courses-filter-column">
        <button mat-raised-button color="primary" (click)="clearAllFilters()">Clear Filters</button>
        <mat-accordion multi>
          <!-- Rating filter -->
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ratings
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-radio-group [(ngModel)]="selectedRating" fxLayout="column" (change)="onRatingChange()">
              <mat-radio-button *ngFor="let rating of ratings" [value]="rating.value">{{rating.value}} & up   ({{getCourseCountForRating(rating.value)}})</mat-radio-button>
            </mat-radio-group>
          </mat-expansion-panel>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Topic
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column">
              <mat-checkbox *ngFor="let topic of topics" [checked]="topic.checked" (change)="onTopicChange(topic,
              $event)">{{topic.name}}
                ({{getCourseCountForTopic(topic.name)}})
              </mat-checkbox>
            </div>
          </mat-expansion-panel>

          <!-- Level filter -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Level
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column">
              <mat-checkbox *ngFor="let level of levels" [checked]="level.checked" (change)="onLevelChange(level,
              $event)">{{level.name}}</mat-checkbox>
            </div>
          </mat-expansion-panel>


          <!-- Language filter -->
          <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Language
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column">
              <mat-checkbox *ngFor="let language of languages" [checked]="language.checked"
                            (change)="onLanguageChange(language, $event)">{{language.name}}</mat-checkbox>
            </div>
          </mat-expansion-panel>


          <!-- Price filter -->
          <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Price
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column">
              <mat-checkbox *ngFor="let price of prices" [checked]="price.checked" (change)="onPriceChange(price,
              $event)">{{price.name}}</mat-checkbox>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <!-- Course list column -->
      <div fxFlex="75%" class="course-list-column">
        <div fxLayout="column">
          <div class="courses-list-container">
            <ng-container *ngIf="courses">
              <app-course-list [course] = "c"
                               [instructor] = "instructorUserInfoMap.get(c.instructor.id)"
                               *ngFor="let c of displayedCourses | ratingFilter:selectedRating |
                               topicFilter:topicFilter |
                               levelFilter: levelFilter | languageFilter: languageFilter | priceFilter: priceFilter">
              </app-course-list>
            </ng-container>
          </div>
        </div>

        <!-- Paginator -->
        <mat-paginator
          #paginator
          [length]="totalFilteredCourses"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons>
        </mat-paginator>
      </div>

    </div>
  </div>


</div>




