
<a *ngIf = "course" [routerLink]="['/course-detail', course.id]" class="course-row">
  <mat-card fxLayout="row" fxFlex fxLayoutGap="15px" fxLayoutAlign="start center">
    <!-- Course Image -->
    <img mat-card-image class="course-image" [src]="course.courseImage.filePath" alt="Course image">

    <!-- Course Details -->
    <div fxLayout="column" fxFlex>
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-card-header fxFlex="85%">
          <mat-card-title>{{course.name}}</mat-card-title>
          <mat-card-subtitle style="margin-bottom:10px">{{course.overview}}</mat-card-subtitle>
        </mat-card-header>

        <!-- Course Price -->
        <div class="course-price">
          <p>${{course.price}}</p>
        </div>
      </div>

      <mat-card-content fxLayout="column" fxLayoutGap="5px">
        <p>{{instructor?.firstname}} {{ instructor?.lastname}}</p>
        <p>{{course.rating}} <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="true"></ngb-rating></p>
        <p>{{course.level}}</p>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-divider></mat-divider>
</a>
