.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;  /* This centers the children elements horizontally */
  justify-content: center;  /* This centers the children elements vertically */
  height: 100%;
}

.review-form {
  width: 100%;  /* Make sure the form takes the full width */
}

.review-form textarea {
  width: 100%;  /* Make the textarea take the full width of its container */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.criteria {
  text-align: center;  /* Center the text within the criteria div */
  margin: 20px 0;     /* Add some margin around the criteria for better spacing */
}



.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}

.sub-title {
  font-weight: bold;
}


.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.criteria {
  margin-bottom: 15px;
}

.stars button {
  font-size: 25px;
  cursor: pointer;
  border: none;
  background: none;
  color: grey;
  margin-right: 5px; /* Add a little spacing between stars */
}

.stars button.selected {
  color: yellow;
}

.review-form textarea {
  width: 100%; /* Making sure the textarea occupies full width */
  resize: vertical; /* Allow only vertical resizing */
  border: 1px solid #ccc;
  padding: 10px; /* Padding for better look */
  margin-bottom: 20px; /* Spacing between textarea and buttons */
}

.buttons {
  display: flex;
  gap: 10px; /* Provides space between buttons */
}

button.submit-button {
  background-color: mediumpurple;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

button.edit-button {
  background-color: #FFC107;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

button.delete-button {
  background-color: #f44336;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

button.cancel-button {
  background-color: #e5e5e5;
  color: black;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}
