
<div class="row col-md-12">
  <div class="error-template" align="center">
    <h1 class="title">Oops!</h1>
    <p>You are not authorized to this page</p>
    <img [src]="imagePath" class="spot-illustration" alt="Description of image">
    <h3>{{title}}</h3>
    <div class="error-details">
      <h3>{{description}}</h3>
    </div>
    <div class="error-actions">
      <button [routerLink]="[ '/login' ]" mat-raised-button color="accent" class="go-to-login-button">
        <span class="glyphicon glyphicon-home"></span>
        Go to login as another role</button>
    </div>
  </div>
</div>

