.profile-image img {
  border-radius: 50%;
}

.profile-initials {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  color: rebeccapurple;
  font-weight: bold;
}
