.admin-courses-container {
  margin-top:30px;
  margin-left: 150px;
}


.course-image {
  width: 90px;
  height: 54px;
  object-fit: cover; /* this will make sure the image covers the whole area without distortion */
}

.course-content {
  margin-bottom: 15px;

}

mat-card-title {
  font-size: medium;
  color: black;
}

.admin-courses-title {
  font-size: xx-large; /* Adjust this value to make the text larger or smaller */
  font-weight: bold;
}

.course-status {
  display: inline;
  background-color: gray;
  color: white;
  padding: 5px;
}

.course-list-header {
  margin-top: 10px;
  font-weight: bolder;
  margin-left: 120px;
}

.full-width-filter {
  width: 100%;
}
