.lecture-frame {
  width: 75%;
}


.course-content {
  margin-top: 20px;
  margin-left: 20px;
  font-size: x-large;

}

.panel-title {
  text-align: left; /* Aligns the text to the left */
  align-items: flex-start; /* If you are using Flexbox, this aligns content to the left */
}

mat-expansion-panel-header {
  height: 80px;
}

.section-title {
  font-size: large;
}

.section-info {
  font-size: small;
  color: gray;
}

li {
  margin-top:10px; /* Add a 10px gap below each list item */
}

.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.tabs a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

.tabs a:hover {
  background-color: #f0f0f0;
}

mat-divider {
  margin-top: 40px;
  margin-bottom: 40px;
}


.instructor-row {
  align-items: center;
}


.instructor-name {
  font-size: large;
  font-weight: bold;
}


.tab-content {
  margin-left: 30px; /* Adjust as needed */
}

