<div class="container-fluid row" xmlns="http://www.w3.org/1999/html" xmlns:fxLayoutAlign="http://www.w3.org/1999/xhtml">
  <div class="col-sm-5 checkout-info-container">
    <h1 class="checkout-title">Checkout</h1>
    <div fxLayout="column" fxLayoutGap="15px">

      <form [formGroup]="form" (ngSubmit)="completeCheckout()">

        <!-- Billing Address Part -->
        <div class="billing-address-container">
          <h2 class="checkout-billing-title">Billing Address</h2>
          <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" required>
              <mat-option *ngFor="let country of countries" [value]="country">
                {{country}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form?.get('country')?.errors?.['required']">Required</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="selectedCountry === 'The United States'">
            <mat-label>ZIP Code</mat-label>
            <input matInput placeholder="5 digit" formControlName="zipCode" required>
            <mat-error *ngIf="form?.get('zipCode')?.errors?.['required']">ZIP Code is required</mat-error>
          </mat-form-field>
        </div>

        <!-- Payment Methods Part -->
        <div class="checkout-payment-container">
          <h2 class="checkout-payment-title">Payment Method</h2>
          <mat-radio-group aria-label="Select a payment method" formControlName="paymentMethod">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-radio-button value="Card" (click)="$event.stopPropagation()">Credit/ Debit Card</mat-radio-button>
              </mat-expansion-panel-header>


              <div [formGroup]="cardDetails">
                <mat-form-field>
                  <mat-label>Name on Card</mat-label>
                  <input matInput formControlName="nameOnCard" placeholder="Name on Card">

                </mat-form-field>
                <mat-form-field>
                  <mat-label>Card Number</mat-label>
                  <input matInput  formControlName="cardNumber"  placeholder="1234 5678 9012 3456">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Expiry Date</mat-label>
                  <input matInput  formControlName="expiryDate"  placeholder="MM/YY">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>CVC/CVV</mat-label>
                  <input matInput  formControlName="cvc" placeholder="CVC">
                </mat-form-field>
              </div>
              <mat-checkbox formControlName="saveCard" [(ngModel)]="saveCard">Securely save this card for my later
                purchase</mat-checkbox>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-radio-button value="Paypal" (click)="$event.stopPropagation()">Paypal</mat-radio-button>
              </mat-expansion-panel-header>
              <p>In order to complete your transaction, we will transfer you over to PayPal's secure servers.</p>
            </mat-expansion-panel>
          </mat-radio-group>
        </div>
      </form>

        <!-- Order Details Part -->
        <div class="checkout-order-detail-container" fxLayout="column" fxLayoutGap="10px">
          <h2 class="checkout-order-detail-title">Order Details</h2>
          <mat-card  *ngFor="let course of cartItems" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <!-- Course Image -->
            <img mat-card-image class="checkout-order-detail-course-image" [src]="course.courseImage.filePath"
                 alt="Course image">

            <!-- Course Details -->
            <div fxFlex>
              <mat-card-title class="checkout-order-detail-course-title">{{course.name}}</mat-card-title>
            </div>

            <!-- Course Price -->
            <div class="checkout-order-detail-course-price" fxFlex="70px">
              <p>${{course.price}}</p>
            </div>
          </mat-card>
        </div>
    </div>
    <p></p>
  </div>

  <div class="col-sm-3 column checkout-complete-checkout-container">
    <div class="checkout-summary">
      <h2 class="checkout-summary-title d-flex justify-content-between align-items-center mb-3">Summary:</h2>
      <h3 class="checkout-summary-original-price d-flex justify-content-between">Original Price:<span>{{originalPrice | currency: 'USD'}}</span></h3>
      <mat-divider></mat-divider>
      <h3 class="checkout-summary-tax d-flex justify-content-between">
        Tax({{ form.get('country')?.value === 'The United States' ? '8%' : '0%' }}):<span>{{tax | currency:'USD'}}</span>
      </h3>
      <mat-divider></mat-divider>
      <h3 class="checkout-summary-total d-flex justify-content-between">Total:<span>{{totalValue | currency:'USD'}}</span></h3>
    </div>

    <div class="checkout-button-container d-flex justify-content-center">
      <button mat-raised-button color="accent" class="checkout-button" (click)="completeCheckout()">Complete Checkout</button>
    </div>
  </div>

  <div class="col-sm-8 checkout-progress-bar-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  </div>
</div>
