.purchase-history-container{
  margin-left: auto;
  margin-right: auto;
}


.purchase-history-title  {
  margin-top: 30px;
  margin-bottom: 35px;
  font-size: xx-large;
  font-weight: bold;
  font-family: "Times New Roman";

}


.order-table .first-column {
  padding-left: 100px;
  font-size: large;
}


/* Ensure the main container is a flex container and stretches its children */
[fxLayout="column"] {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.empty-purchase-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-grow: 1; /* Take available space */
  flex-direction: column; /* Stack children vertically */
  height: 400px; /* Adjust as needed */
}

.empty-purchase-container mat-icon {
  flex-shrink: 0;
  margin-bottom: 20px;
  font-size: 3rem;  /* adjust as necessary */
  width: auto;
  height: auto;
}


.empty-purchase-container, .orders-container {
  width: 100%;
  overflow: visible;
}
