.title {
  margin-top: 25px;
}

.spot-illustration {
  width: 450px;
  height: 300px;
}

.go-to-login-button {
  margin-top: 20px;
  width: 250px;
  height: 60px;
  color: white;
  background-color: mediumpurple;
}
