
.progress-filled {
  background-color: purple;
}

.progress-empty {
  background-color: lightgrey;
}

.course-image {
  width: 250px;
  height: auto;
  display: block;
}


mat-card {
  width: 250px;
  margin-top: 15px;
}

.mat-card-header {
  width: 100%;
  text-align: left;
}

.course-title {
  width: 250px;
  word-wrap: break-word;
  white-space: normal; /* Allow text to wrap */
  font-size: medium;
}


.mat-card-content {
  width: 250px;
  text-align: left;
}

.progress-container {
  width: 250px;
  display: flex;
}


.progress-filled,
.progress-empty {
  height: 2px;
}


a{
  color: black !important;
  text-decoration: none !important;
}

