.container {
  margin-top: 20px;
}

.greeting-container {
  margin-top: 50px;
}


.greeting {
  height: 70px;
  font-size: xx-large;
  font-weight: bold;
  font-family: "Times New Roman";
}

.link-to-my-courses {
  font-size: large;
}
