/* profile.component.css */

.profile-title {
margin-top: 25px;
font-size: xx-large;
font-weight: bold;
}

.profile-basicInfo-container{
  margin-left: 250px;
}

mat-form-field {
  width: 40%;
  margin-top: 40px;
  margin-right: 80px;
}

.profile-save-button {
  height: 60px;
  width: 150px;
  margin-top: 20px;
  color: white;
  background-color: mediumpurple;
}

img {
  margin-top: 25px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
