


<button mat-button [matMenuTriggerFor]="mainMenu">Categories</button>

<mat-menu #mainMenu="matMenu">
  <ng-container *ngFor="let category of transformedCategories">
    <!-- Top Level Categories -->
    <button mat-menu-item [matMenuTriggerFor]="secondLevel" [routerLink]="transPathToLink(category.path)">
      {{ category.name }}
      <mat-menu #secondLevel="matMenu">
        <ng-container *ngFor="let subCategory of category.children">
          <!-- Second Level Categories -->
          <button mat-menu-item [matMenuTriggerFor]="thirdLevel" [routerLink]="transPathToLink(subCategory.path)">
            {{ subCategory.name }}
            <mat-menu #thirdLevel="matMenu">
              <ng-container *ngFor="let subCategory2 of subCategory.children">
                <!-- Third Level Categories -->
                <button mat-menu-item [routerLink]="subCategory2.link">
                  {{ subCategory2.name }}
                </button>
              </ng-container>
            </mat-menu>
          </button>
        </ng-container>
      </mat-menu>
    </button>
  </ng-container>
</mat-menu>


