.my-learning-header {
  background-color: rgb(28,29,31);
  height: 100px;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  flex-direction: column; /* Aligns children vertically */
  width: 100%;
}

.my-learning-title {
  height: 70px;
  font-size: xx-large;
  color: white;
  font-weight: bold;
  font-family: "Times New Roman";
}


.courses-list-container {
  display: flex;
  flex-wrap: wrap; /* This ensures that items will wrap onto the next line if they exceed the container's width */
  justify-content: center; /* This aligns items to the start of the container */
}


app-enrolled-course-overview,
app-course-overview {
  margin: 40px;
}

