<div class="col-sm-7 receipt-container">
  <div *ngIf="order">
    <h1 class="receipt-title">Receipt</h1>
    <p class="receipt-sub-title">Receipt for Cart - {{ order.purchaseDate | date:'MMMM d, y' }}</p>

    <div  class="space-between-container">
      <div>
        <p class="company-name">Eureka, Inc.</p>
        <p>600 Harrison Street, 3rd Floor</p>
        <p>San Francisco, CA 94107, US</p>
        <p>eureka.com</p>
      </div>

      <div>
        <p class="order-details">Date: <span>{{ order.purchaseDate | date:'MMMM d, y' }}</span></p>
        <p class="order-details">Order #: <span> {{ order.orderNumber }}</span></p>
      </div>

    </div>

    <p class="order-details">Sold To: <span>{{ userInfo.firstname }} {{userInfo.lastname}}</span></p>


    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Ordered</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of order.purchases">
          <td>{{ purchase.course.name }}</td>
          <td>{{ order.purchaseDate | date:'MMMM d, y' }}</td>
          <td>1</td>
          <td>${{ purchase.sellingPrice }}</td>
          <td>${{ purchase.sellingPrice }}</td>
        </tr>
      </tbody>
    </table>

    <p class="total">Total Paid: ${{ order.total }}</p>
  </div>
</div>
