.admin-users-container {
  margin-top:30px;
  margin-left: 150px;
}


.name-space {
  margin: 10px;
}


.admin-users-title {
  font-size: xx-large; /* Adjust this value to make the text larger or smaller */
  font-weight: bold;
}

.pagination-controls {
  display: flex;
  justify-content: flex-end;  /* push content to the right */
  align-items: center;
  width: 100%;
}

.page-size-selector {
  margin-right: 20px;  /* optional: space between selector and paginator */
}

.key-word-filter {
  width: 100%;
}





