
  <div *ngIf="course" class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row course-detail-container">

      <div class="col-sm-12 course-detail-info-container">
        <div class="course-detail-header">
          <h1 class="course-detail-title">
            {{course.name}}
          </h1>
          <h2 class="course-detail-overview">
            {{course.overview}}
          </h2>
        </div>

        <div class="course-detail-info">
          <p>{{course.rating}} <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="true"></ngb-rating> </p>
          <p><span>   {{enrollmentCount}} student enrolled</span></p>
          <p *ngIf="instructorInfo">Created by {{instructorInfo.firstname}} {{instructorInfo.lastname}}</p>
        </div>
      </div>

      <div class="col-sm-7 course-detail-description-container">
        <div class="course-description">
          <div class="learning-outcomes-container">
            <h2 class="learning-outcomes">What you'll learn</h2>
            <ul class="no-bullets">
              <li *ngFor="let item of learningOutcomes">
                <fa-icon [icon]="checkIcon"></fa-icon>
                {{ item }}
              </li>
            </ul>
          </div>

          <div class="course-content-container">
            <h2 class="course-content">Course content</h2>
            <p>{{course.sectionList.length}} sections  •  {{getTotalLectures(course)}} lectures  •  {{getTotalCourseDuration(course)}} total length</p>
            <mat-accordion>
              <mat-expansion-panel *ngFor="let section of course.sectionList; let sectionIndex = index" [expanded]="sectionIndex === 0">
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title">
                    {{ section.title }}<span>{{section.lectures.length}} lectures • {{ getTotalSectionDuration(section) }} </span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <ul>
                  <ng-container *ngFor="let lecture of section.lectures; let lectureIndex = index">
                    <!-- Render link for the lectures that should be accessible -->
                    <li *ngIf="sectionIndex === 0 || lectureIndex === 0" style="display: flex; justify-content: space-between; align-items: center;">
                      <a href="{{lecture.lectureVideo.filePath}}"
                         (click)="openDialog($event, lecture.lectureVideo.filePath)"
                         class="panel-content" style="display: flex; align-items: center; width: 100%;">
                        <fa-icon [icon]="filmIcon"></fa-icon>
                        {{ lecture.title }}
                        <span style="margin-left: auto; margin-right: 20px;">Preview</span>
                      </a>
                      <span>{{ getLectureDuration(lecture) }} </span>
                    </li>


                    <!-- Render lecture title only for lectures that should not be accessible -->
                    <li *ngIf="sectionIndex !== 0 && lectureIndex !== 0" style="display: flex; justify-content: space-between;">
                      <span class="panel-content">
                        <fa-icon [icon]="filmIcon"></fa-icon>
                        {{ lecture.title }}
                      </span>
                      <span>{{ getLectureDuration(lecture) }} </span>
                    </li>
                  </ng-container>
                </ul>
              </mat-expansion-panel>
            </mat-accordion>
          </div>


          <div class="course-description-detail-container">
            <h2 class="course-description-detail">Course description</h2>
            <div [innerHTML]="description"></div>
          </div>

          <div class="course-requirement-container">
            <h2 class="course-requirement">Requirement</h2>
            <ul class="bullets">
              <li  *ngFor="let prerequisite of prerequisites">
                {{ prerequisite }}
              </li>
            </ul>
          </div>


          <div class="course-instructor-container"*ngIf="instructorInfo">
            <h2 class="course-instructor">Instructor</h2>
            <div>
              <p class="instructor-name">{{instructorInfo.firstname}} {{instructorInfo.lastname}}</p>
              <div fxLayout="row" fxLayoutGap="20px" class="instructor-row" fxLayoutAlign="start start">
                <div fxLayout="column" fxFlex="12%" fxLayoutGap="15px">
                  <app-profile-image [firstname]="instructorInfo.firstname" [lastname]="instructorInfo.lastname"
                                     [imageUrl]="instructorInfo.profileImage ? instructorInfo.profileImage.filePath : null"
                                     [size]="70"
                                     [fontSize]="30">

                  </app-profile-image>
                  <p>{{instructorInfo.overview}}</p>
                </div>
                <p>{{instructorInfo.description}}</p>
              </div>
            </div>

          </div>

          <div class="course-review-container">
            <h2 class="course-rating">
              <fa-icon [icon]="faStar" class="yellow-star"></fa-icon>
              {{course.rating}} course rating
            </h2>

            <div *ngFor="let review of reviews" class="reviews">
              <div class="review" fxLayout="row" fxLayoutAlign="start center">
                <div class="user-profile-image" *ngIf="userInfosMap.get(review.id) &&
                userInfosMap.get(review.id)?.firstname && userInfosMap.get(review.id)?.lastname" fxFlex="12%">
                  <app-profile-image [firstname]="userInfosMap.get(review.id)?.firstname ?? ''"
                                     [lastname]="userInfosMap.get(review.id)?.lastname ?? ''"
                                     [imageUrl]="userInfosMap.get(review.id)?.profileImage?.filePath ?? null"
                                     [size]="50"
                                     [fontSize]="20">
                  </app-profile-image>

                </div>

                <div class="review-content" fxLayout="column">
                  <div class="rating">
                    <span *ngFor="let star of [].constructor(5); let j = index" [class.active]="j < review.rating" class="star">&#9733;</span> <!-- Star symbol -->
                  </div>

                  <div class="user-info">
                    {{ userInfosMap.get(review.id)?.firstname }} {{ userInfosMap.get(review.id)?.lastname }}
                  </div>
                  <div class="content">
                    {{ review.content }}
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>
            </div>
          </div>


      </div>
    </div>

    <div class="course-detail-checkout-container">
      <mat-card class="checkout-block">
        <!-- Course Image -->
        <img mat-card-image class="course-detail-course-image" [src]="course.courseImage.filePath" alt="Course image">


        <!-- Course Price-->
        <mat-card-content class="course-detail-price-container">
          <h2 class="course-detail-price">{{course.price | currency: 'USD'}}</h2>
        </mat-card-content>

        <mat-card-actions class="course-detail-button-container">
          <ng-container *ngIf="!isEnrolled && !isInCart; else inCartOrEnrolled">
            <button mat-raised-button color="accent" class="course-detail-button align-self-center addcart" (click)="addToCart(course)">Add to
              cart</button>
          </ng-container>
          <ng-template #inCartOrEnrolled>
            <button *ngIf="isInCart && !isEnrolled" mat-raised-button color="accent"
                    class="course-detail-button align-self-center addcart" (click)="goToCart()">Go to cart</button>
            <button *ngIf="isEnrolled" mat-raised-button color="accent" class="course-detail-button align-self-center addcart"
                    (click)="goToCourse()">Go to course</button>
          </ng-template>
          <button mat-raised-button color="primary" class="course-detail-button align-self-center addwishlist" (click)="toggleWishlist(course.id)">
            <fa-icon [icon]="isInWishlist ? fasHeart : farHeart" [ngClass]="{'red-icon': isInWishlist}"></fa-icon>
          </button>
        </mat-card-actions>


        <mat-card-footer class="course-detail-guarantee-container">
          <p>30-Day Money-Back Guarantee</p>
          <p class="course-detail-guarantee">Full Lifetime Access</p>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

