
.course-detail-info-container {
  background-color: rgb(28,29,31);
  color: white;
  padding-left: 200px;
  padding-right: 600px;
  padding-bottom: 25px;
  padding-top: 15px;
}

ngb-rating {
  color: #FFC107;
  font-size: 20px;
}

.panel-title {
  display: flex;
  justify-content: space-between;
}

.course-detail-description-container {
  padding-left: 200px; /* adjust as necessary */
  padding-top: 25px;
}

.course-detail-title {
  font-size: xx-large; /* Adjust this value to make the text larger or smaller */
  font-weight: bold;
}

.course-content-container {
  padding-bottom: 40px;
}

.panel-content{
  padding-bottom: 15px;
}

.no-bullets li  {
  list-style-type: none;
  padding-bottom: 20px;
}

.bullets li {
  padding-bottom: 10px;
}

.learning-outcomes-container {
  padding-left:  25px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-bottom: 30px;
}

.course-detail-course-image {
  width: 360px; /* or any other size */
  height: 216px; /* or any other size */
  object-fit: cover; /* this will make sure the image covers the whole area without distortion */
  margin-bottom: 25px;
}

.course-detail-price {
  font-size: x-large;
  font-weight: bolder;
}

.course-detail-price-container {
  margin-bottom: 15px;
}

.checkout-block {
  position: fixed;
  top: 100px;
  right: 200px;
  width: 360px;
}

.course-detail-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Center items horizontally */
  align-items: center;     /* Center items vertically */
}

.buynow {
  margin-left: 25px;
  flex: 0 0 63%; /* Grow, don't shrink, take up 75% of the width */
  height: 60px;
  background-color: mediumpurple;
}

.course-detail-button-container .addwishlist {
  margin-right: 25px;
  margin-bottom: 30px;
  flex: 0 0 15%; /* Don't Grow, don't shrink, take up 15% of the width */
  height: 60px;
  color: black;
  background-color: white;
}

.course-detail-button-container .addcart {
  margin-left: 25px;
  margin-bottom: 30px;
  flex: 0 0 63%; /* Grow, don't shrink, take up 75% of the width */
  height: 60px;
  color: white;
  background-color: mediumpurple;

}

.red-icon {
  color: red;
}


.course-detail-guarantee-container {
  color: gray;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: small;
}

.course-description-detail, .course-content, .learning-outcomes, .course-requirement, .course-instructor, .course-rating {
  font-weight: bolder;
  font-size: x-large;
  margin-top: 30px;
}

.instructor-name {
  font-weight: bold;
}


.course-detail-container {
  margin-bottom: 50px;
}


mat-divider {
  margin: 20px;
}

.yellow-star {
  color: gold;  /* Color of the star itself */
  stroke: black;  /* Color of the outline */
  stroke-width: 10; /* Adjust as needed for the thickness of the outline */
  margin-right: 5px;  /* Optional, to give some space between the star and the text */
}


.stars {
  display: flex;
}

.star {
  font-size: 20px;
  color: lightgray; /* Inactive star color */
}

.star.active {
  color: gold; /* Active star color */
}
