
<div class="row">
  <div class="col-md-12">
    <div class="error-template" align="center">
      <h1>Oops!</h1>
      <img [src]="imagePath" class="spot-illustration" alt="Description of image">
      <h3>{{title}}</h3>
      <div class="error-details">
        <h3>{{description}}</h3>
      </div>
      <div class="error-actions">
        <a [routerLink]="[ '/' ]" mat-raised-button color="accent" class="keep-shopping-button">
          <span class="glyphicon glyphicon-home"></span>
          Keep Shopping</a>
      </div>
    </div>
  </div>
</div>
