.register-card {
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  height: 600px;
  max-width: 400px; // Adjust this value to your preference
  margin: auto;
  align-content: center;
}
