.reviews-container {
  text-align: left; /* Aligns content to the left */
  min-height: 400px; /* Adjust as needed */
  min-width: 1400px;
}




.level-container {
  display: flex;
  align-items: center;
}

.stars {
  display: flex;
}

.star {
  font-size: 20px;
  color: lightgray; /* Inactive star color */
}

.star.active {
  color: gold; /* Active star color */
}

.percentage-container {
  width: 100px;
  height: 10px;
  background-color: lightgray; /* Color for the unfilled part */
  position: relative;
}

.percentage-bar {
  width: 0;
  height: 10px;
  background-color: darkgray; /* Color for the filled part */
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.3s ease-in-out;
}

.percentage-text {
  margin-left: 10px;
}

.cancel-button {
  background: none;
  border: none;
  cursor: pointer;
}

.review-content {
  margin: 20px;
}

.user-info {
  font-weight: bold;
}

.review-title {
  margin-top: 30px;
}

.review {
  margin-bottom: 10px;
}
